#app {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

body {
    background-color: #f6f6f6;
}

li {
    list-style: none;
}

.border-1px {
    position: relative
}

.border-1px::after {
    display: block;
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    border-bottom: 1px solid #F7F7F7;
    content: " ";
}


/* 头部 */

.vote-scroll-wrapper {
    position: fixed;
    top: 44px;
    left: 0;
    right: 0;
    bottom: 0;
}

header.vote-header {
    background-color: #fff;
    box-shadow: none;
    -webkit-box-shadow: none;
    z-index: 0;
}

.mui-bar-nav.mui-bar .vote-icon-back {
    padding-left: 5px;
    color: #262626;
}

.mui-bar .vote-header-title {
    color: #262626;
}

.vote-header-publish {
    position: absolute;
    right: 0;
    top: 0;
    padding: 0 15px;
    line-height: 44px;
    font-size: 16px;
    color: #EB6964;
}


/* 中间列表 */

.vote-list-background {
    background-color: #f6f6f6;
}

.mui-table-view:before {
    top: 0;
}

.vote-list-item {
    position: relative;
    margin-top: 8px;
    padding-left: 15px;
    background-color: #fff;
}

.vote-list-item .vote-about-creator {
    display: flex;
    display: -webkit-flex;
    padding: 10px 0;
}

.vote-list-item .vote-avatar {
    flex: 0 0 35px;
    margin-right: 10px;
    width: 35px;
    height: 35px;
    -webkit-flex: 0 0 35px;
    border-radius: 50%;
}

.vote-list-item .vote-creator-name {
    margin-top: 0;
    margin-bottom: 0;
    color: #333;
    font-size: 13px;
}

.vote-list-item .vote-create-time {
    font-size: 10px;
    color: #999;
}

.vote-list-item .vote-content {
    position: relative;
    padding: 10px 40px 10px 0;
}

.vote-list-item .vote-theme {
    font-size: 15px;
    color: #333;
}

.vote-arrow-right {
    position: absolute;
    top: 50%;
    right: 5px;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    color: #CECECE;
}

i.vote-type-common {
    position: absolute;
    top: -3px;
    right: 13px;
    width: 60px;
    height: 25px;
    background-repeat: no-repeat;
    background-size: 60px 25px;
}

i.vote-type-voting {
    background-image: url(../img/vote-type-voting@2x.png);
}

i.vote-type-over {
    background-image: url(../img/vote-type-over@2x.png);
}

@media (-webkit-min-device-pixel-ratio: 3),
(min-device-pixel-ratio: 3) {
    i.vote-type-voting {
        background-image: url(../img/vote-type-voting@3x.png);
    }
    i.vote-type-over {
        background-image: url(../img/vote-type-over@3x.png);
    }
}


/* 子页面样式 */

.vote-wrapper {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 11;
    background-color: #f6f6f6;
}

.vote-scroll-wrapper {
    position: fixed;
    top: 44px;
    left: 0;
    right: 0;
    bottom: 0;
}

.vote-nav-title {
    display: flex;
    display: -webkit-flex;
    justify-content: center;
    -webkit-justify-content: center;
    padding: 7px 15px;
    background-color: #F7F7F7;
}

.vote-nav-title .vote-select-type {
    font-size: 15px;
    color: #333;
}

.vote-nav-title .vote-select-endtime {
    flex: 1;
    -webkit-flex: 1;
    text-align: right;
    font-size: 12px;
    color: #999;
}

.vote-select-wrapper {
    background-color: #FFF;
}

ul.vote-select-list {
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
}

.vote-select-item {
    position: relative;
    padding: 14px 30px 14px 48px;
}

.vote-select-item .vote-operation-wrapper {
    position: absolute;
    left: 0;
    top: 0;
    width: 48px;
    height: 100%;
}

.vote-select-item .vote-operation-btn {
    position: absolute;
    top: 50%;
    left: 15px;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    width: 22px;
    height: 22px;
    border: 1px solid #ccc;
    border-radius: 100%;
    background-color: #fff;
}

.vote-select-item .vote-operation-btn::after {
    position: absolute;
    top: 3px;
    left: 7px;
    content: " ";
    width: 4px;
    height: 8px;
    transform: rotate(45deg) scale(0);
    transition: -webkit-transform .2s;
    transition: transform .2s;
    border: 2px solid transparent;
    border-left: 0;
    border-top: 0;
}

.vote-select-item .vote-select-content {
    font-size: 14px;
    color: #333;
}

.vote-select-styl .vote-operation-btn {
    background-color: #EB6964;
    border-color: #EB6964;
}

.vote-select-styl .vote-operation-btn::after {
    border-color: #fff;
    transform: rotate(45deg) scale(1);
}

.vote-btn-wrapper {
    width: 100%;
    text-align: center;
}

.vote-btn-wrapper .vote-btn {
    display: inline-block;
    width: 90%;
    height: 45px;
    line-height: 45px;
    border-radius: 45px;
    background-color: #EB6964;
    color: #fff;
}

.vote-btn-container {
    width: 100%;
    padding: 30px 0;
}

img.vote-select-img {
    margin-right: 10px;
    vertical-align: middle;
    border: 2px solid #EEE;
}

span.vote-img-text {
    display: inline-block;
    vertical-align: middle;
    font-size: 14px;
    color: #333;
}

.vote-detail-wrapper .title {
    margin: 0;
    padding-bottom: 15px;
    padding-top: 18px;
    text-align: center;
    font-size: 20px;
    color: #333;
}

.vote-detail-wrapper .content {
    padding: 0 15px;
    line-height: 27px;
    text-indent: 1em;
    font-size: 16px;
    color: #666;
}

li.vote-result-item {
    padding: 10px 30px 10px 15px;
}

li.vote-result-item .vote-result-textvote-wrapper {
    display: flex;
    display: -webkit-flex;
    justify-content: center;
    -webkit-justify-content: center;
    align-items: center;
    -webkit-align-items: center;
    font-size: 0;
}

.vote-result-textvote-wrapper .vote-content {
    flex: 1;
}

.vote-progress-bar {
    width: 100%;
}

.vote-progress-bar {
    width: 0;
    height: 5px;
    background-color: #EB6964;
    border-radius: 100px;
}

.vote-result-textvote-wrapper .vote-total {
    padding-right: 10px;
    font-size: 12px;
    color: #999;
}

.vote-result-textvote-wrapper .vote-content .text {
    line-height: 20px;
    font-size: 14px;
    color: #333;
}

ul.vote-tab-list {
    display: flex;
    display: -webkit-flex;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #fff;
    border-top: 1px solid #F7F7F7;
}

li.vote-tab-item {
    flex: 1;
    -webkit-flex: 1;
    height: 49px;
    line-height: 49px;
    text-align: center;
    box-sizing: border-box;
}

li.vote-tab-item .text {
    display: inline-block;
    width: 90%;
    height: 100%;
    font-size: 15px;
    color: #999;
}

li.vote-tab-item .vote-tab-active {
    border-bottom: 3px solid #EB6964;
    color: #EB6964;
}

.vote-title-wrapper {
    height: 90px;
}

.vote-title-inpt {
    height: 100%;
}

textarea.vote-textarea {
    margin-bottom: 0;
    height: 100%;
    border: none;
    font-size: 14px;
    color: #333;
}

textarea.vote-textarea::placeholder {
    color: #999;
}

input::placeholder {
    color: #999;
}

.vote-add-container {
    margin-top: 1px;
    height: 50px;
    text-align: center;
    line-height: 50px;
    background-color: #fff;
}

.vote-add-container i.vote-add-backg {
    color: #666;
}

.vote-add-container span.text {
    line-height: 20px;
    font-size: 14px;
    color: #666;
}

.vote-text-item {
    padding: 5px 15px 5px 0;
}

.vote-text-item::after {
    height: 0;
}

.vote-text-item input.vote-txt-input {
    margin-bottom: 0;
    font-size: 14px;
    color: #333;
    border: none;
}

.vote-text-item input.vote-txt-input::placeholder {
    color: #999;
}

.vote-select-type-picker {
    display: flex;
    display: -webkit-flex;
    padding: 18px 0 18px 15px;
    margin-top: 6px;
    background-color: #fff;
}

.vote-select-type-picker span.title {
    font-size: 14px;
    color: #4A4A4A;
}

.vote-select-type-picker input {
    flex: 1;
    -webkit-flex: 1;
    text-align: right;
    font-size: 14px;
    color: #333;
}

.vote-select-type-picker input::placeholdler {
    color: #999;
}

.vote-select-type-picker i.mui-icon.mui-icon-arrowright {
    width: 40px;
    text-align: center;
    color: #CECECE;
    font-size: 20px;
}

.vote-select-type-switch {
    position: relative;
    margin-top: 6px;
    padding: 18px 15px;
    background: #fff;
}

.vote-select-type-switch span.title {
    display: inline-block;
    line-height: 20px;
    font-size: 14px;
    color: #4A4A4A;
}

.vote-switch-wrapper {
    position: absolute;
    right: 15px;
    padding-top: 13px;
    height: 100%;
    top: 0;
}

.vote-text-container>ul {
    border-top: 1px solid #F7F7F7;
    background-color: #fff;
}

.pub-btn-wrapper {
    margin-top: 30px;
}

.vote-img-item {
    padding: 0;
}

.vote-img-content {
    display: flex;
    display: -webkit-flex;
    align-items: center;
    -webkit-align-items: center;
    padding: 15px;
}

.vote-img-content .img-wrapper {
    width: 55px;
    height: 55px;
    flex: 0 0 55px;
    background-image: url(../img/icon-add@2x.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 16px 16px;
    border: 1px dashed #CCC;
}

.vote-img-content .vote-img-inpt {
    margin: 3px 0 0 0;
    padding-left: 10px;
    border: none;
    font-size: 14px;
    color: #333;
}

.margin-top5px {
    margin-top: 5px;
}

.vote-img-title {
    padding-left: 15px;
    height: 35px;
    line-height: 35px;
    color: #666;
    font-size: 15px;
}


/* .acs-wrapper {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 2;
} */

.acs-wrapper .acs-mask {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 2;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.3)
}

.acs-wrapper .acs-container {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 2;
    width: 100%;
}

.acs-wrapper .acs-cancel-wrapper {
    margin-top: 5px;
    height: 52px;
    line-height: 52px;
    text-align: center;
    background-color: #fff;
}

.acs-wrapper .acs-cancel-wrapper .text {
    font-size: 16px;
    color: #999;
}

ul.acs-list-wrapper li.acs-item {
    height: 52px;
    background-color: #fff;
    text-align: center;
    line-height: 52px;
}

ul.acs-list-wrapper li:last-child::after {
    border-bottom: none;
}

ul.acs-list-wrapper li.acs-item .text {
    font-size: 16px;
    color: #00A0E8;
}

.vote-publish-wrapper {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 2;
}

.vote-publish-wrapper .img-success-wrapper {
    position: absolute;
    top: 150px;
    width: 150px;
    height: 150px;
    left: 50%;
    transform: translateX(-50%);
    background-image: url(../img/publishsuccess@2x.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 150px 150px;
}

.vote-publish-wrapper .img-loading-wrapper {
    position: absolute;
    top: 200px;
    left: 50%;
    transform: translateX(-50%);
    width: 150px;
    height: 150px;
    text-align: center;
    border-radius: 10px;
    background-color: rgba(0, 0, 0, .6);
}

.vote-publish-wrapper .img-loading-wrapper img {
    margin-top: 60px;
    width: 30px;
    height: 30px;
    border: 0;
}

.vote-progress-bar.nullVote {
    width: 100%;
    background-color: #CCC;
}


/* 动画 */

.vote-slide-enter-active,
.vote-slide-leave-active {
    transition: all 0.3s;
}

.vote-slide-enter,
.vote-slide-leave-to {
    transform: translateX(100%);
    -webkit-transform: translateX(100%);
}

.acs-wrapper .acs-fade-enter-active,
.acs-wrapper .acs-fade-leave-active {
    transition: all 0.3s;
    opacity: 1;
}

.acs-wrapper .acs-fade-enter,
.acs-wrapper .acs-fade-leave-to {
    opacity: 0;
}

.acs-slide-enter-active {
    animation: bounce-in 0.3s;
}

.acs-slide-leave-active {
    animation: bounce-out 0.3s;
}

@keyframes bounce-in {
    0% {
        transform: translateY(161px);
    }
    100% {
        transform: translateY(0px);
    }
}

@keyframes bounce-out {
    0% {
        transform: translateY(0px);
    }
    100% {
        transform: translateY(161px);
    }
}

.acs-wrapper .acs-fade-leave-active {
    transition: all 0.3s;
    opacity: 1;
}

.acs-wrapper .acs-fade-leave {
    opacity: 1;
}

img[src=""] {
    opacity: 0;
}

@media (-webkit-min-device-pixel-ratio: 3),
(min-device-pixel-ratio: 3) {
    .vote-img-content .img-wrapper {
        background-image: url(../img/icon-add@3x.png)
    }
    .vote-publish-wrapper .img-success-wrapper {
        background-image: url(../img/publishsuccess@3x.png);
    }
}